.header{
  display: flex;
  width: auto;
  height: 100px;
  margin: auto;
  justify-content: space-between;
}

.header .logo-right{
  margin-right: 25px;
}

.header .logo-left{
  margin-left: 25px;
}

.title{
  margin: auto;
  font-size: 2rem;
  color: #f07167;
}
